*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.content-box-component {
	box-sizing: content-box;
}




.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}








body {
	margin: 0;
	padding: 0;
	
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #ffffff;
	min-height: 960px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}



 /*header.............................................................................*/

.top-header {
	background-color: #293449;
}

.content-top-header {
	display: flex;
	justify-content: space-between;
	
}

.logo-main-header  {
	font-size: 0;
	line-height: 0;
	padding: 12px 55px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933; 
}

.logo-main-header:hover,
.logo-main-header:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a;
}

.logo-main-header:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.search-form {
	position: relative;
	width: 270px;
}

.search {
	width: 270px;
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 17px;
	line-height: 18px;
	background-color:  #293449;
	border: none;
	padding: 12px 20px;
	padding-left: 50px;
}

.search::-webkit-input-placeholder {
	color: #ffffff;
}

.search:hover,
.list-group:hover,
.list-group:focus {
	background-color: #212a3a;
}

.search:focus {
	background-color: #ffffff;
	outline: none;
}

.search:focus::-webkit-input-placeholder {
	color: #000000;
}

.search-icon {
	position: absolute;
	top: 12px;
	left: 16px;
	
	opacity: 0.3;
}

.search-form:hover .search-icon {
	opacity: 1;
}

.search:focus + .search-icon path {
	fill: #ee3643;
}

.list-top-header {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: flex;
	justify-content: space-between;
	width: 450px;
}

.list-top-header li {
	font-size: 17px;
	line-height: 18px;
}

.list-top-header a {
	display: block;
	width: 150px;
	
	vertical-align: middle;
	color: #ffffff;	
}

.list-group {
	position: relative;
	padding: 12px 20px;
	padding-left: 50px;
}

.list-group:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, 0.6);
}

.bookmark::before {
	content: "";
	
	width: 14px;
	height: 16px;
	
	position: absolute;
	top: 13px;
	left: 18px;
	
	background-image: url(/img/svg-technomart/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.basket::before {
	content: "";
	
	width: 15px;
	height: 15px;
	
	position: absolute;
	top: 13px;
	left: 17px;
	
	background-image: url(/img/svg-technomart/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
}

.bookmark:hover::before,
.bookmark:focus::before,
.basket:hover::before,
.basket:focus::before {
	opacity: 1;
}

.bookmark:active::before,
.basket:active::before {
	opacity: 0.5;
}

.order {
	padding: 12px 20px;
	background-color: #63a63e;
}

.order:hover,
.order:focus {
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.51);
}

.bottom-header {
	background-color: #f3f7f9;
	padding-top: 46px;
	padding-bottom: 60px;
}

.header-bottom-header {
	display: flex;
	padding-bottom: 42px;
	padding-left: 53px;
}

.desc {
	width: 248px;
	padding-top: 5px;
	margin-right: 20px;
}

.desc p {
	margin: 0;
		
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.contacts-main-header {
	width: 270px;
}

.phone-contacts {
	display: block;
	width: 270px;
	padding: 12px 0 12px 75px;
	
	position: relative;
	
	vertical-align: middle;
	
	border: 3px solid #ffffff;
	
	font-size: 21px;
	line-height: 18px;
	color: #ee3643;
	
	margin-bottom: 5px;
}

.phone-contacts::before {
	content: "";
	
	position: absolute;
	top: 13px;
	left: 17px;
	
	width: 19px;
	height: 19px;
	
	background-image: url(/img/svg-technomart/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.address-contacts {
	margin: 0;
	
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	
	padding-left: 10px;
}

.unauthorized-user {
	width: 280px;
	margin-left: auto;
	
	display: flex;
	justify-content: space-between;
}

.unauthorized-user a,
.name-user {
	display: block;
	
	height: 45px;
	
	font-size: 21px;
	line-height: 18px;
	vertical-align: middle;
	
	color: #000000;
	
	background-color: #ffffff;
}

.login {
	position: relative;
	
	padding: 12px 24px;
	padding-left: 48px;
}

.login svg {
	position: absolute;
	top: 13px;
	left: 14px;
}

.login:hover path,
.login:focus path {
	fill: #32425c;
}

.login:active path {
	fill: #c5c5c5;
}

.signup {
	padding: 12px 24px;
}

.unauthorized-user a:hover,
.unauthorized-user a:focus {
	color: #ee3643;
}

.unauthorized-user a:active {
	color: rgba(0, 0, 0, 0.3)
}

.name-user {
	padding: 12px 50px;
}

.orders-user,
.profile-user {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.orders-user:hover,
.orders-user:focus,
.profile-user:hover,
.profile-user:focus {
	color: #ee3643;
}

.name-user:active,
.orders-user:active,
.profile-user:active {
	opacity: 0.3;
}

.main-navigation {
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 rgba(41, 52, 73, 1);  
}
	
.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	padding-left: 21px;
	padding-right: 24px;
	
	display: flex;
	flex-wrap: wrap;
}

.nav-list a {
	display: block;
	padding: 21px 30px;
	
	vertical-align: middle;
	color: #ffffff;
}

.nav-list a:hover,
.nav-list a:focus {
	background-color: #293449;
} 

.nav-list a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}


/*Главная.............................................................................*/

.components-list {
	padding-top: 60px;
	padding-bottom: 53px;
}

.wrap-components-first {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	
}

.wrap-components-second {
	display: flex;
	justify-content: space-between;
}

.components-item {
	position: relative;
	width: 300px;
	
	padding-top: 20px;
	padding-bottom: 22px;
}

.components-item .flag {
	position: absolute;
	width: 60px;
	height: 59px;
	
	top: 0;
	right: 0;
	
	z-index: 20;
}

.title-item-components {
	margin: 0;
	padding: 0;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	
	min-height: 30px;
	padding-left: 24px;
	margin-bottom:  13px;
}

.btn {
	font-size: 14px;
	line-height: 18px;
	
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	
}

.btn-item-components {
	display: block;
	width: 135px;
	padding: 10px 0;
	margin-top: 13px;
	margin-left: 25px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.btn-item-components:hover,
.btn-item-components:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn-item-components:active {
	background-color: rgba(0, 0, 0, 0.30);
}


.materials-item {
	background-color: #ffbf47;
}

.materials-item::after {
	content: "";
	
	position: absolute;
	top: 31px;
	right: 43px;
	
	width: 44px;
	height: 65px;
	
	background-image: url(/img/svg-technomart/icon-1.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.tools-item {
	background-color: #3bbce3;
}

.tools-item::after {
	content: "";
	
	position: absolute;
	top: 33px;
	right: 28px;
	
	width: 75px;
	height: 61px;
	
	background-image: url(/img/svg-technomart/icon-2.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.machines-item {
	background-color: #dc91d8;
}

.machines-item::after {
	content: "";
	
	position: absolute;
	top: 31px;
	right: 31px;
	
	width: 78px;
	height: 62px;
	
	background-image: url(/img/svg-technomart/icon-3.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.discounts-item {
	background-color: #8ed78f;
	margin-bottom: 20px;
}

.discounts-item::after {
	content: "";
	
	position: absolute;
	top: 26px;
	right: 45px;
	
	width: 59px;
	height: 72px;
	
	background-image: url(/img/svg-technomart/icon-4.svg);
	background-repeat: no-repeat;
	background-position: 0 0 ;
}

.delivery-item {
	background-color: #ffc047;
}

.delivery-item::after {
	content: "";
	
	position: absolute;
	top: 32px;
	right: 31px;
	
	width: 78px;
	height: 63px;
	
	background-image: url(/img/svg-technomart/icon-5.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider {
	width: 620px;
	height: 266px;
}

.slider-item-perforators {
	background-color: dimgray;
	background-image: url(/img/slider1.jpg);
}

.slider-item-drills {
	background-color: dimgray;
	background-image: url(/img/slider2.jpg);
}

.title-slider-item {
	margin: 0;
	
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider-item-perforators p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.slider-item-drills p {
	font-size: 18px;
	line-height: 24px;
}

.btn-open-catalog {
	background-color: #ee3643;
}

.btn-red:hover,
.btn-red:focus {
	background-color: #ca2c37;
}

.btn-red:active {
	background-color: #ba2732;
}

.standart-title {
	margin: 0;
	
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
} 

.section-title-popular {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	
	background-color: #f9f5f0;
	
	margin-bottom: 20px;
}

.section-title-popular h2 {
	width: 460px;
	padding: 29px 31px;
}

.btn-popular {
	display: block;
	margin-left: auto;
	width: 253px;
	height: 38px;
	line-height: 38px;
	margin-right: 24px;
	white-space: nowrap;
	
	background-color: #ee3643;
	border-radius: 3px;
}

.card-list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.card-item {
	border: 1px solid #eaeaea;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.popular-perforator-item:nth-child(4) {
	margin-right: 0;
}

.card-product {
	position: relative;
	text-align: center;
}

.card-product .flag {
	position: absolute;
	width: 60px;
	height: 59px;
	
	top: -1px;
	right: -1px;
	
	z-index: 20;
}

.new-product {
	background-image: url(/img/new.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.card-product h3 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
	
	min-height: 40px;
	padding: 0 25px;
	margin-top: 28px;
	margin-bottom: 13px;
}

.card-product-price {
	font-family: "PT Sans", "Arial", sans-serif; 
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.old-price {
	min-height: 18px;
	
	color: #a9a9a9;
	text-decoration: line-through;
	
	margin-top: 13px;
	margin-bottom: 10px;
	
}

.price {
	display: block;
	position: relative;
	
	width: 140px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 36px;
	
	background-color: #ee3643;
	color: #ffffff;
	border-radius: 3px;
}

.price::after {
	content: "";
	
	position: absolute;
	top: 0;
	right: -20px;
	
	width: 0;
	height: 0;
	border: 19px solid #ffffff;
	border-left-color: #ee3643;
}

.card-product-control {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 218px;
	height: 152px;
	padding: 45px 0;
	background-color: #ffffff;
	
	z-index: 10;
}

.card-product-control a {
	display: block;
	width: 135px;
	margin: 0 auto;
	margin-bottom: 8px;
	border-radius: 3px;
}

.product-buy-btn {
	position: relative;
	padding: 10px 0;
	
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 0 #367315;
}

.product-buy-btn::before {
	content: "";
	
	position: absolute;
	top: 11px;
	left: 14px;
	
	width: 15px;
	height: 15px;
	
	background-image: url(/img/svg-technomart/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 0.3;
	
}

.product-buy-btn:hover,
.product-buy-btn:focus {
	background-color: #5fbb2d;
}

.product-buy-btn:active {
	background-color: #518534;
	box-shadow: none;
}

.product-buy-btn:hover::before,
.product-buy-btn:focus::before {
	opacity: 1;
}

.product-buy-btn:active::before {
	opacity: 1;
}

.product-bookmark-btn {
	padding: 7px 0;
	border: 3px solid #63a63e;
	color: #32425c;
}

.product-bookmark-btn:hover,
.product-bookmark-btn:focus {
	border: 3px solid #32425c;
}

.product-bookmark-btn:active {
	border: 3px solid rgba(50, 66, 92, 0.3);
	color: rgba(50, 66, 92, 0.3);
}

.card-product-control {
	display: none;
}

.card-item:hover .card-product-control {
	display: block;
}

.card-brand {
	height: 145px;
	
	display: flex;
}

.card-brand a {
	margin: auto;
}

.card-brand:nth-child(4n) {
	margin-right: 0;
}

.card-brand:nth-child(n+5) {
	margin-bottom: 85px;
}

.card-item:hover,
.card-item:focus {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card-brand:active .popular-brand {
	opacity: 0.3;
}

.card-brand:active {
	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.service {
	background-color:#f4f8f9;  
}

.content-service {
	padding-top: 65px;
}

.title-service,
.title-info-company,
.title-info-perforator {
	margin: 0;
	
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.info-perforator p,
.content-service p,
.info p {
	margin: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.service-sliders {
	display: flex;
	justify-content: space-between;
}

.control-service-sliders {
	width: 240px;
}

.btn-service {
	border: none;
	
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 21px;
	line-height: 30px;                       
	font-weight: 700;
	
	color: #ffffff;
	background-color: #32425c;
	box-shadow: 0 1px 0 0 #293449,
				inset 0 1px 0 0 #405069;
	
}

.btn-service:hover,
.btn-service:focus {
	background-color: #293449;
	box-shadow: 0 1px 0 0 #293449,
				inset 0 1px 0 0 #405069;
}

.btn-service:active {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: 0 1px 0 0 #ffffff,
				inset 0 1px 0 0 #ffffff;
}

.active-btn-service {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: 0 1px 0 0 #ffffff,
				inset 0 1px 0 0 #ffffff;
}

.active-btn-service:hover,
.active-btn-service:focus,
.active-btn-service:active {
	outline: none;
	background-color: #ffffff;
	box-shadow: 0 1px 0 0 #ffffff,
				inset 0 1px 0 0 #ffffff;
	cursor: default;
}

.sliders-service-list > div {
	width: 620px;
}

.title-service-slider {
	font-size: 36px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.slider-item-delivery {
	background-image: url(/img/delivery.png);
	background-repeat: no-repeat;
}

.slider-item-guaranty {
	background-image: url(/img/garant.png);
	background-repeat: no-repeat;
}

.slider-item-credit {
	background-image: url(/img/credit.png);
	background-repeat: no-repeat;
}

.btn-credit {
	background-color: #ff5357;
}

.info {
	padding-top: 75px;
	padding-bottom: 85px;
}

.info > .container  {
	display: flex;
	justify-content: space-between;
}

.info-company {
	width: 540px;
}

.info-contacts {
	width: 300px;
}

.title-info-company {
	margin-bottom: 30px;
}

.info-company > p:nth-of-type(1),
.info-contacts > p:nth-of-type(1) {
	margin-top: 30px;
	margin-bottom: 33px;
}

.info-company > p:nth-of-type(2) {
	margin-top: 33px;
	margin-bottom: 24px;
}

.delivery-companies {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: flex;
	flex-direction: column;
	
	margin-top: 24px;
	margin-bottom: 37px;
	padding-left: 35px;
	font-size: 18px;
	line-height: 20px;
	
	color: #000000;
}

.delivery-companies li {
	position: relative;
	
	display: block;
	margin-bottom: 20px;
}

.delivery-companies li:nth-child(3) {
	margin-bottom: 0;
}

.delivery-companies li::before {
	content: "";
	
	position: absolute;
	top: 9px;
	left: -35px;
	
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.map-adress {
	display: block;
	width: 300px;
	height: 159px;
	margin-top: 37px;
	margin-bottom: 45px;
}

.btn-info-company,
.btn-question-adress {
	display: block;
	height: 38px;
	line-height: 38px;
	white-space: nowrap;
	
	border-radius: 3px;
	background-color: #ee3643;
}

.btn-info-company {
	width: 220px;
}

.btn-question-adress {
	width: 300px;
}



/*Футер............................................................................................*/



.top-footer {
	background-color: #32425c;
	font-size: 18px;
	line-height: 24px;
	
	padding-bottom: 51px;
}

.header-top-footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 29px
}

.logo-main-footer  {
	font-size: 0;
	line-height: 0;
	padding: 21px 41px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;    
}

.logo-main-footer:hover,
.logo-main-footer:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a;
}

.logo-main-footer:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.footer-top-footer {
	display: flex;
	justify-content: space-between;
}

.contacts-footer {
	width: 326px;
}

.group-top-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: flex;
	justify-content: space-between;
}

.nav-footer ul {
	width: 548px;
	align-items: flex-end;
}

.nav-footer a {
	display: block;
	color: #f3f7f9;
}

.nav-footer-components {
	width: 525px;
}

.nav-footer-components a {
	display: block;
	color: #ffd180;
}

.group-top-footer a:hover,
.group-top-footer a:focus {
	text-decoration: underline;
}

.group-top-footer a:active {
	opacity: 0.5;
}

.bottom-footer {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
	
	color:#ffffff;
	
	padding-top: 35px;
	padding-bottom: 31px;
}

.content-bottom-footer {
	display: flex;
}

.copyright-footer {
	width: 230px;
	margin-right: 160px;
}

.social-footer {
	width: 132px;
	margin-right: 118px;
}

.feedback-footer {
	width: 140px;
}

.author-footer {
	width: 110px;
	margin-left: auto;
}

.group-bottom-footer a {
	color: #ffd180;
}

.group-bottom-footer a:hover,
.group-bottom-footer a:focus{
	text-decoration: underline;
}

.group-bottom-footer a:active {
	color: #ee3643;
}

/*Обратная связь...........................................*/

.feedback {
	background-color: #ffffff;
	width: 620px;
	height: 430px;
	box-shadow: inset 0 7px 0 0 #ff5357;
}

.feedback-form label {
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
}

.feedback-form input,
.feedback-form textarea {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #a9a9a9;
	
	border: 2px solid #dee3e4;
}

.feedback-form-btn {
	border: none;
	
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	background-color: #ee3643;
}

.feedback-form-send {
	background-color: #f4f4f4;
}

/*Каталог..........................................................................................................*/


.authorized-user {
	width: 300px;
	margin-left: auto;
}

.breadcrumbs ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
	margin-top: 24px;
	margin-bottom: 24px;
	
	display: flex;
	
	width: 380px;
}

.breadcrumbs-link {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
	
	text-transform: uppercase;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
	text-decoration: underline;
}

.breadcrumbs-link[href]:active {
	text-decoration: none;
	color: #32425c;
}

.active-breadcrumbs-link {
	cursor: default;
}

.main-title {
	background-color: #f2f6f8;
	
	padding: 29px 24px 29px 31px;
	margin-bottom: 20px;
}

.wrap-perforators-first {
	display: flex;
	justify-content: space-between;
}

.selection {
	width: 220px;
}

.title-selection {
	margin: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.selection legend {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.selection label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.selection fieldset {
	border: none;
}

.button {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
	text-transform: uppercase;
	
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.wrap-perforators-second {
	width: 700px;
}

.choice {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	
	background-color: #f7f3ec;
}

.choice ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.choice p {
	margin: 0;
	
	color: #000000;
}

.choice-link[href] {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #ee3643;
}

.choice-link[href]:hover,
.choice-link[href]:focus {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.choice-link[href]:active {
	color: #ee3643;
	border-bottom: none;
}

.active-link {
	color: #ee3643;
	border-bottom: none;
	cursor: default;
}

.perforator-item:nth-child(3n) {
	margin-right: 0;
}

.perforator-item:nth-child(3) .card-product-control {
	display: block;
}

.perforators-pagination {
	margin: 0;
	padding: 0;
	list-style: none;
}

.perforators-pagination li {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	text-transform: uppercase;
}

.pagination-item[href] {
	color: #000000;
	border: 1px solid #e5e5e5;
}

.pagination-item[href]:hover,
.pagination-item[href]:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item[href]:active {
	border: 1px solid #ee3643;
}

.pagination-item-active {
	background-color: #ee3643;
	color: #ffffff;
}

.info-perforator {
	padding-top: 63px;
	padding-bottom: 73px;
	background-color: #f2f6f8;
}

.title-info-perforator {
	margin-bottom: 30px;
}



/*Пополнение корзины*/

.popup-full-basket {
	width: 620px;
	height: 282px;
	
	box-shadow: inset 0 7px 0 0 #ff5357;
}

.top-full-basket p{
	font-size: 30px;
	line-height: 18px;
	color: #000000;
}

.bottom-full-basket {
	background-color: #f1f1f1;
}

.btn-order {
	background-color: #ee3643;
}

.btn-shopping {
	background-color: #ffffff;
	color: #000000;
}

.btn-shopping:hover,
.btn-shopping:focus {
	background-color: #e2e0e0;
}

.btn-shopping:active {
	background-color: #bdc6ca;
}