*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

.content-box-component {
	box-sizing: content-box;
}




.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}








body {
	margin: 0;
	padding: 0;
	
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #ffffff;
	min-height: 960px;
}

a {
	text-decoration: none;
}


.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}



 /*header.............................................................................*/

.top-header {
	background-color: #293449;
}

.content-top-header {
	display: flex;
	justify-content: space-between;
	
}

.logo-main-header  {
	font-size: 0;
	line-height: 0;
	padding: 12px 55px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933; 
}

.logo-main-header:hover,
.logo-main-header:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a;
}

.logo-main-header:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.search-form {
	width: 270px;
}

.search {
	width: 270px;
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 17px;
	line-height: 18px;
	background-color:  #293449;
	border: none;
	padding: 12px 20px;
	padding-left: 50px;
}

.search::-webkit-input-placeholder {
	color: #ffffff;
}

.search:hover,
.list-group:hover,
.list-group:focus {
	background-color: #212a3a;
}

.search:focus {
	background-color: #ffffff;
	outline: none;
}

.search:focus::-webkit-input-placeholder {
	color: #000000;
}

.list-top-header {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: flex;
	justify-content: space-between;
	width: 450px;
}

.list-top-header li {
	font-size: 17px;
	line-height: 18px;
}

.list-top-header a {
	display: block;
	width: 150px;
	color: #ffffff;	
}

.list-group {
	padding: 12px 20px;
	padding-left: 50px;
}

.list-group:active {
	background-color: #161d29;
}

.order {
	padding: 12px 20px;
	background-color: #63a63e;
}

.order:hover,
.order:focus {
	background-color: #5fbb2d;
}

.order:active {
	background-color: #518534;
}

.bottom-header {
	background-color: #f3f7f9;
	padding-top: 46px;
	padding-bottom: 60px;
}

.header-bottom-header {
	display: flex;
	padding-bottom: 42px;
	padding-left: 53px;
}

.desc {
	width: 248px;
	padding-top: 5px;
	margin-right: 20px;
}

.desc p {
	margin: 0;
		
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.contacts-main-header {
	width: 270px;
}

.phone-contacts {
	display: block;
	width: 270px;
	height: 45px;   /*Потом удалю*/
	
	border: 3px solid #ffffff;
	
	font-size: 21px;
	line-height: 18px;
	color: #ee3643;
	
	margin-bottom: 5px;
}

.address-contacts {
	margin: 0;
	
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.user-block {
	width: 280px;
	margin-left: auto;
}

.unauthorized-user {
	display: flex;
	justify-content: space-between;
}

.unauthorized-user a,
.name-user {
	display: block;
	
	height: 45px;
	
	font-size: 21px;
	line-height: 18px;
	color: #000000;
	
	background-color: #ffffff;
}

.login {
	padding: 12px 24px;
	padding-left: 48px;
}

.signup {
	padding: 12px 24px;
}

.unauthorized-user a:hover,
.unauthorized-user a:focus {
	color: #ee3643;
}

.unauthorized-user a:active {
	color: rgba(0, 0, 0, 0.3)
}

.name-user {
	padding: 12px 50px;
}

.orders-user,
.profile-user {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.orders-user:hover,
.orders-user:focus,
.profile-user:hover,
.profile-user:focus {
	color: #ee3643;
}

.name-user:active,
.orders-user:active,
.profile-user:active {
	opacity: 0.3;
}

.main-navigation {
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 0 rgba(41, 52, 73, 1);  
}
	
.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	
	display: flex;
	justify-content: space-around;
}

.nav-list a {
	display: block;
	color: #ffffff;
}

.nav-list a:hover,
.nav-list a:focus {
	background-color: #293449;
} 

.nav-list a:active {
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}


/*Главная.............................................................................*/

.components-list {
	padding-top: 60px;
	padding-bottom: 53px;
}

.wrap-components-first {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	
}

.wrap-components-second {
	display: flex;
	justify-content: space-between;
}

.components-item {
	width: 300px;
}

.title-item-components {
	margin: 0;
	padding: 0;
	
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.btn {
	font-size: 14px;
	line-height: 18px;
	
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	
}

.btn-item-components {
	background-color: rgba(0, 0, 0, 0.1);
}

.btn-item-components:hover,
.btn-item-components:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn-item-components:active {
	background-color: rgba(0, 0, 0, 0.30);
}


.materials-item {
	background-color: #ffbf47;
}

.tools-item {
	background-color: #3bbce3;
}

.machines-item {
	background-color: #dc91d8;
}

.discounts-item {
	background-color: #8ed78f;
	margin-bottom: 20px;
}

.delivery-item {
	background-color: #ffc047;
}

.slider {
	width: 620px;
	height: 266px;
}

.slider-item-perforators {
	background-color: dimgray;
	background-image: url(/img/slider1.jpg);
}

.slider-item-drills {
	background-color: dimgray;
	background-image: url(/img/slider2.jpg);
}

.title-slider-item {
	margin: 0;
	
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider-item-perforators p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.slider-item-drills p {
	font-size: 18px;
	line-height: 24px;
}

.btn-open-catalog {
	background-color: #ee3643;
}

.btn-red:hover,
.btn-red:focus {
	background-color: #ca2c37;
}

.btn-red:active {
	background-color: #ba2732;
}

.standart-title {
	margin: 0;
	
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
} 

.section-title-popular {
	display: flex;
	justify-content: space-between;
	
	padding-left: 31px;
	padding-right: 24px;
	margin-bottom: 20px;
	
	background-color: #f9f5f0;
}

.btn-popular {
	background-color: #ee3643;
}

.card-list {
	margin: 0;
	padding: 0;
	
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card-item {
	border: 1px solid #eaeaea;
	width: 220px;
	margin-bottom: 20px;
}

.card-brand:nth-child(n+5) {
	margin-bottom: 85px;
}

.card-item:hover,
.card-item:focus {
	box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card-product h3 {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
}

.card-product-price {
	font-family: "PT Sans", "Arial", sans-serif; 
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.old-price {
	color: #a9a9a9;
	text-decoration: line-through;
}

.price {
	background-color: #ee3643;
	color: #ffffff;
}

.product-buy-btn {
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 0 #367315;
}

.product-buy-btn:hover,
.product-buy-btn:focus {
	background-color: #5fbb2d;
}

.product-buy-btn:active {
	background-color: #518534;
	box-shadow: none;
}

.product-bookmark-btn {
	border: 3px solid #63a63e;
	color: #32425c;
}

.product-bookmark-btn:hover,
.product-bookmark-btn:focus {
	border: 3px solid #32425c;
}

.product-bookmark-btn:active {
	border: 3px solid rgba(50, 66, 92, 0.3);
	color: rgba(50, 66, 92, 0.3);
}

.card-brand:active .popular-brand {
	opacity: 0.3;
}

.card-brand:active {
	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.service {
	background-color:#f4f8f9;  
}

.content-service {
	padding-top: 65px;
}

.title-service,
.title-info-company,
.title-info-perforator {
	margin: 0;
	
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000000;
}

.info-perforator p,
.content-service p,
.info p {
	margin: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.service-sliders {
	display: flex;
	justify-content: space-between;
}

.control-service-sliders {
	width: 240px;
}

.btn-service {
	border: none;
	
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 21px;
	line-height: 30px;                       
	font-weight: 700;
	
	color: #ffffff;
	background-color: #32425c;
	box-shadow: 0 1px 0 0 #293449,
				inset 0 1px 0 0 #405069;
	
}

.btn-service:hover,
.btn-service:focus {
	background-color: #293449;
	box-shadow: 0 1px 0 0 #293449,
				inset 0 1px 0 0 #405069;
}

.btn-service:active {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: 0 1px 0 0 #ffffff,
				inset 0 1px 0 0 #ffffff;
}

.active-btn-service {
	background-color: #ffffff;
	color: #32425c;
	box-shadow: 0 1px 0 0 #ffffff,
				inset 0 1px 0 0 #ffffff;
}

.active-btn-service:hover,
.active-btn-service:focus,
.active-btn-service:active {
	outline: none;
	background-color: #ffffff;
	box-shadow: 0 1px 0 0 #ffffff,
				inset 0 1px 0 0 #ffffff;
	cursor: default;
}

.sliders-service-list > div {
	width: 620px;
}

.title-service-slider {
	font-size: 36px;
	line-height: 24px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
}

.slider-item-delivery {
	background-image: url(/img/delivery.png);
	background-repeat: no-repeat;
}

.slider-item-guaranty {
	background-image: url(/img/garant.png);
	background-repeat: no-repeat;
}

.slider-item-credit {
	background-image: url(/img/credit.png);
	background-repeat: no-repeat;
}

.btn-credit {
	background-color: #ff5357;
}

.delivery-companies {
	list-style: none;
	
	font-size: 18px;
	line-height: 20px;
	
	color: #000000;
}

.btn-info-company,
.btn-question-adress {
	background-color: #ee3643;
}

/*Футер............................................................................................*/

.top-footer {
	background-color: #32425c;
	font-size: 18px;
	line-height: 24px;
}

.logo-main-footer  {
	font-size: 0;
	line-height: 0;
	padding: 21px 41px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;    
}

.logo-main-footer:hover,
.logo-main-footer:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 0 #9a212a;
}

.logo-main-footer:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 0 #8e1e26;
}

.group-top-footer ul {
	list-style: none;
}

.nav-footer a {
	color: #f3f7f9;
}

.nav-footer-components a {
	color: #ffd180;
}

.group-top-footer a:hover,
.group-top-footer a:focus {
	text-decoration: underline;
}

.group-top-footer a:active {
	opacity: 0.5;
}

.bottom-footer {
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
	
	color:#ffffff;
}

.group-bottom-footer a {
	color: #ffd180;
}

.group-bottom-footer a:hover,
.group-bottom-footer a:focus{
	text-decoration: underline;
}

.group-bottom-footer a:active {
	color: #ee3643;
}

/*Обратная связь...........................................*/

.feedback {
	background-color: #ffffff;
	width: 620px;
	height: 430px;
	box-shadow: inset 0 7px 0 0 #ff5357;
}

.feedback-form label {
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
}

.feedback-form input,
.feedback-form textarea {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #a9a9a9;
	
	border: 2px solid #dee3e4;
}

.feedback-form-btn {
	border: none;
	
	font-family: "Cuprum", "Arial Narrow", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	background-color: #ee3643;
}

.feedback-form-send {
	background-color: #f4f4f4;
}

/*Каталог..........................................................................................................*/


.breadcrumbs ul {
	list-style: none;
}

.breadcrumbs-link {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
	
	text-transform: uppercase;
}

.breadcrumbs-link[href]:hover,
.breadcrumbs-link[href]:focus {
	text-decoration: underline;
}

.breadcrumbs-link[href]:active {
	text-decoration: none;
	color: #32425c;
}

.active-breadcrumbs-link {
	cursor: default;
}

.main-title {
	background-color: #f2f6f8;
}

.title-selection {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.selection legend {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.selection label {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.selection fieldset {
	border: none;
}

.button {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	color: #000000;
	text-transform: uppercase;
	
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.choice {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	
	background-color: #f7f3ec;
}

.choice ul {
	list-style: none;
}

.choice p {
	color: #000000;
}

.choice-link[href] {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dashed #ee3643;
}

.choice-link[href]:hover,
.choice-link[href]:focus {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.choice-link[href]:active {
	color: #ee3643;
	border-bottom: none;
}

.active-link {
	color: #ee3643;
	border-bottom: none;
	cursor: default;
}

.perforators-pagination ul {
	list-style: none;
}

.perforators-pagination li {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	
	text-transform: uppercase;
}

.pagination-item[href] {
	color: #000000;
	border: 1px solid #e5e5e5;
}

.pagination-item[href]:hover,
.pagination-item[href]:focus {
	border: 1px solid #bdc6ca;
}

.pagination-item[href]:active {
	border: 1px solid #ee3643;
}

.pagination-item-active {
	background-color: #ee3643;
	color: #ffffff;
}

.info-perforator {
	background-color: #f2f6f8;
}



/*Пополнение корзины*/

.popup-full-basket {
	width: 620px;
	height: 282px;
	
	box-shadow: inset 0 7px 0 0 #ff5357;
}

.top-full-basket p{
	font-size: 30px;
	line-height: 18px;
	color: #000000;
}

.bottom-full-basket {
	background-color: #f1f1f1;
}

.btn-order {
	background-color: #ee3643;
}

.btn-shopping {
	background-color: #ffffff;
	color: #000000;
}

.btn-shopping:hover,
.btn-shopping:focus {
	background-color: #e2e0e0;
}

.btn-shopping:active {
	background-color: #bdc6ca;
}